@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  pointer-events: none;
}

.slick-dots li button:before {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.45);
}

.slick-dots li.slick-active button:before {
  color: white;
}


